@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

ul.active{
  animation: moveDown 1s linear 1 forwards;
}

@keyframes moveDown {
  from{
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

ul.inactive{
  animation: moveUp 1s linear 1 forwards; 
}

@keyframes moveUp {
  from{
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}