@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

html{
  scroll-padding-top: 54px; 
}

@media screen and (min-width:768px) {
  html{
    scroll-padding-top: 74px;
  }
}

@media screen and (min-width: 1024px) {
  html{
    scroll-padding-top: 90px;
  }
}

ul.active{
  animation: moveDown 1s linear 1 forwards;
}

@keyframes moveDown {
  from{
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

ul.inactive{
  animation: moveUp 1s linear 1 forwards; 
}

@keyframes moveUp {
  from{
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

header{
  position: relative;
}
header.fixed{
  position: fixed;
  background-color: white;
  border-bottom: 2px solid #fd6d00;
}


.slick-slide > div{
  display: flex;
  justify-content: center;
}

/* .slick-slide:nth-of-type(2){
  transform: translateX(450px) scale(0.9) !important;
}

.slick-slide:nth-of-type(3), .slick-slide:nth-of-type(4){
  transform: translateX(-450px) scale(0.9) !important;
}

.slick-slide.slick-active{
  transform: translateX(0) scale(1) !important;
} */
.slick-dots{
  bottom: -35px !important;
}

.slick-dots li{
  width: 30px !important;
  height: 10px !important;
  background-color: #d9d9d9 !important; 
  border-radius: 5px !important;
}
.slick-dots li.slick-active{
  background-color: #fd6d00 !important;
}

.slick-dots li button{
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  border-radius: 5px !important;
}
.slick-dots li button:before{
  display: none;
}

@media screen and (min-width: 768px) {
  div[data-index="-1"][aria-hidden="true"]{
    transform: translateX(12.5%) scale(0.9) !important;
  }
  div[data-index="1"][aria-hidden="true"]{
    transform: translateX(-12.5%) scale(0.9) !important;
  }
  div[data-index="0"][aria-hidden="true"]{
    transform: translateX(12.5%) scale(0.9) !important;
  }
  div[data-index="2"][aria-hidden="true"]{
    transform: translateX(-12.5%) scale(0.9) !important;
  }
  
  div[data-index="0"][aria-hidden="true"] + div[data-index="1"][aria-hidden="true"]{
    transform: translateX(12.5%) scale(0.9) !important;
  }
  
  div[data-index="3"][aria-hidden="true"]{
    transform: translateX(-12.5%) scale(0.9) !important;
  }   
}

@media screen and (min-width: 900px) {
  div[data-index="-1"][aria-hidden="true"]{
    transform: translateX(15%) scale(0.9) !important;
  }
  div[data-index="1"][aria-hidden="true"]{
    transform: translateX(-15%) scale(0.9) !important;
  }
  div[data-index="0"][aria-hidden="true"]{
    transform: translateX(15%) scale(0.9) !important;
  }
  div[data-index="2"][aria-hidden="true"]{
    transform: translateX(-15%) scale(0.9) !important;
  }
  
  div[data-index="0"][aria-hidden="true"] + div[data-index="1"][aria-hidden="true"]{
    transform: translateX(15%) scale(0.9) !important;
  }
  
  div[data-index="3"][aria-hidden="true"]{
    transform: translateX(-15%) scale(0.9) !important;
  }
}

@media screen and (min-width: 1024px) {
  div[data-index="-1"][aria-hidden="true"]{
    transform: translateX(215px) scale(0.9) !important;
  }  
  div[data-index="1"][aria-hidden="true"]{
    transform: translateX(-215px) scale(0.9) !important;
  }
  div[data-index="0"][aria-hidden="true"]{
    transform: translateX(215px) scale(0.9) !important;
  }
  div[data-index="2"][aria-hidden="true"]{
    transform: translateX(-215px) scale(0.9) !important;
  }
  
  div[data-index="0"][aria-hidden="true"] + div[data-index="1"][aria-hidden="true"]{
    transform: translateX(215px) scale(0.9) !important;
  }
  
  div[data-index="3"][aria-hidden="true"]{
    transform: translateX(-215px) scale(0.9) !important;
  }  
}

@media screen and (min-width: 1260px) {
  div[data-index="-1"][aria-hidden="true"]{
    transform: translateX(375px) scale(0.9) !important;
  }  
  div[data-index="1"][aria-hidden="true"]{
    transform: translateX(-375px) scale(0.9) !important;
  }
  div[data-index="0"][aria-hidden="true"]{
    transform: translateX(375px) scale(0.9) !important;
  }
  div[data-index="2"][aria-hidden="true"]{
    transform: translateX(-375px) scale(0.9) !important;
  }
  
  div[data-index="0"][aria-hidden="true"] + div[data-index="1"][aria-hidden="true"]{
    transform: translateX(375px) scale(0.9) !important;
  }
  
  div[data-index="3"][aria-hidden="true"]{
    transform: translateX(-375px) scale(0.9) !important;
  } 
    
}


div.slick-slide.slick-active{
  position: relative;
  z-index: 10;
}